@model Capitulo01.Models.Departamento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

@section styles{ 
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome-all.min.css" />
}

<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">
        Exibindo um Departamento existente
    </div>
        
    <div class="card-body">

        <div class="form-group">
            @*@Html.DisplayNameFor(model => model.Nome)*@
            <label asp-for="DepartamentoID" class="control-label"></label>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </span>
                <input asp-for="DepartamentoID" class="form-control" disabled="disabled" />
            </div>

            <label asp-for="Nome" class="control-label"></label>
            <br />
            <div class="input-group">
                @*@Html.DisplayFor(model => model.Nome)*@
                <span class="input-group-addon">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>
                <input asp-for="Nome" class="form-control" disabled="disabled" />
            </div>

            <label asp-for="Instituicao.Nome" class="control-label"></label>
            <br />
            <div class="input-group">
                @*@Html.DisplayNameFor(model => model.Instituicao)*@
                <span class="input-group-addon">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>
                </span>
                <input asp-for="Instituicao.Nome" class="form-control" disabled="disabled" />
            </div>
        </div>

    </div>

    <div class="card-footer bg-info text-center text-white">
        <a asp-action="Edit" asp-route-id="@Model.DepartamentoID" class="btn btn-warning">
            Alterar</a> |
        <a asp-action="Index" class="btn btn-warning">
            Retornar a listagem de departamentos
        </a>
    </div>
</div>
